body {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}
h1 {
  margin-top: 10010px;
  text-align: center;
}
p {
  text-align: justify;
}
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
}
pre {
  background-color: #282a36;
  color: #f8f8f2;
  display: block;
  border-radius: 5px;
  padding: 5px;
}
code {
  background-color: #282a36;
  color: #f8f8f2;
  border-radius: 5px;
}
a {
  text-decoration: none;
}
